html,
body,
img,
#landing {
    width: 100%;
    height: 100%;
    font-family: Merriweather Sans;
}

#landing {
    display: table;
    background: linear-gradient( rgba(0, 0, 150, 0.5),
    rgba(0, 150, 0, 0.5)),
    url('img/balloon-1.jpg') no-repeat center;
    background-size: cover;
}

.text-vertical-center {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: white;
}

h1,
h2 {
    color: white;
    font-family: Nunito;
}

#landing h1 {
    font-size: 50px;
}

#landing h2 {
    font-size: 30px;
}

#myCarousel {
    display: block;
}

#gallery .row {
    display: none;
}

/*sm*/

@media(min-width:768px) {
    #landing h1 {
        font-size: 70px;
    }
    #landing h2 {
        font-size: 40px;
    }
    .container h2 {
        font-size: 50px;
    }
    .table {
        font-size: 17px;
    }
    #home p {
        font-size: 17px
    }
    #home .text-center {
        text-align: center;
    }
    #info h3 {
        font-size: 26px;
    }
    #info p {
        font-size: 15px;
    }
}

/*medium*/

@media(min-width:992px) {
    #landing h1 {
        font-size: 90px;
    }
    #landing h2 {
        font-size: 50px;
    }
    blockquote,
    .blockquote-reverse {
        border-width: 10px;
    }
    .container h2 {
        font-size: 60px;
    }
    .table {
        font-size: 19px;
    }
    #home p {
        font-size: 22px;
    }
    #info h3 {
        font-size: 30px;
    }
    #info p {
        font-size: 16px;
    }
    #myCarousel {
        display: none;
    }
    #gallery .row {
        display: block;
    }
}

/*lg*/

@media(min-width:1200px) {
    #landing h1 {
        font-size: 110px;
    }
    #landing h2 {
        font-size: 60px;
    }
    .container h2 {
        font-size: 70px;
    }
    .table {
        font-size: 22px;
    }
    #home p {
        font-size: 25px;
    }
    #info h3 {
        font-size: 34px;
    }
    #info p {
        font-size: 17px;
    }
}

.container h1,
.container h2 {
    color: black;
}

table,
.photos {
    margin: 15px 0 15px 0;
}

.container {
    padding-top: 50px;
    padding-bottom: 50px;
}

#info,
#info h1,
#info h2,
#info .breadcrumb,
#testimonials,
#testimonials h1,
#testimonials h2,
#testimonials .breadcrumb,
.bg-blue {
    background-color: rgb(161, 214, 226);
    /*blue*/
}

.breadcrumb>li+li:before {
    color: black;
    content: "> ";
    padding: 0 5px;
}

#home,
#home h1,
#home h2,
#home .breadcrumb,
#gallery,
#gallery h1,
#gallery .breadcrumb,
.bg-gray {
    color: rgb(0, 108, 132);
    background-color: rgb(226, 232, 228);
    /*gray*/
}

#contact,
.bg-dark,
#contact .breadcrumb {
    background-color: #666666;
    color: white;
}

#contact .breadcrumb>li+li:before {
    color: white;
    content: "> ";
    padding: 0 5px;
}

#contact h1,
#contact h2,
#contact li,
#contact a {
    color: white;
}

#home li,
#info li,
#gallery li,
#testimonials li {
    color: rgb(102, 102, 102);
}

#testimonials .col-md-offset-6 {
    text-align: right;
}

#testimonials .col-xs-12 {
    padding: 15px 0 15px 0;
}

#testimonials .col-md-6 {
    padding: 0 0 0 0;
}

blockquote {
    border-left: 5px solid rgb(51, 51, 51);
}

.blockquote-reverse {
    border-right: 5px solid rgb(51, 51, 51);
}

blockquote p {
    padding: 20px;
}

.blockquote-reverse p {
    padding-right: 15px;
}

#testimonials .row {
    margin-top: 30px;
}

.photos,
#myCarousel {
    padding: 10px;
    background-color: white;
    box-shadow: 5px 6px #888888;
}